
/*.addPic{
  background-color:oldlace ;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}*/
.custom__form{   
     display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.custom__form input {
    opacity: 0;
    height: 0;
  }
  .custom__image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    display: flex;
    justify-content: center;

  }
  .custom__image-container label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    cursor: pointer;
    width: 270px;
    height: 185px;
    border: solid 1px black;
    border-radius: 5px;
    object-fit: cover;
  }
  .custom__image-container img {
    width: 300px;
    height: 200px;
    border: solid 1px black;
    border-radius: 5px;
    object-fit: cover;
  }
  .css-1rcvvn7-MuiInputBase-root-MuiInput-root:before{
    border-bottom: none !important;
  }
  .css-tk8qh5-MuiButtonBase-root-MuiButton-root:hover{
    border: none !important;
  }
  .css-117inwb-MuiButtonBase-root-MuiButton-root:hover{
    border: none !important;
    background-color:transparent;
  }