.change-my-color {
    fill: #228be4;
    width: 50px;
  }
  .moreVert{
    position: absolute;
    right: 10px;
    top: 19px;
    background-color:rgba(255, 255, 255, 0.35);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s;
    width: 30px;
    height: 30px;
    color: #2a2a2a;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  .moreVert:hover{
    background-color:rgba(255, 255, 255, 0.6);
  }
  .moreVert:after{
    content: '\2807';
    font-size: 25px;
    display: flex;
    align-items: center;
    position: relative;
    left: 3px;
  }

  .ImageListItemBar2 div{
    white-space: pre-line !important;
    word-wrap: break-word;
  }


  .css-16iisoq-MuiImageListItem-root .MuiImageListItem-img{
    height: 100% !important;
  }

/****  CONTACT US DIALOG  ****/
.contact-us ul {
  position:relative;
  margin:0;
  padding-bottom:15px;
  display:flex;
}
.contact-us ul li {
  list-style:none;
}
.contact-us ul li a {
  display:block;
  position:relative;
  width:100px;
  height:100px;
  line-height:94px;
  font-size:40px;
  text-align:center;
  text-decoration:none;
  color:#404040;
  margin: 0 30px;
  transition:.5s;
}
.contact-us ul li a span {
  position:absolute;
  transition: transform .5s;
}
.contact-us ul li a span:nth-child(1),
.contact-us ul li a span:nth-child(3){
  width:100%;
  height:3px;
  background:#404040;
}
.contact-us ul li a span:nth-child(1) {
  top:0;
  left:0;
  transform-origin: right;
}
.contact-us ul li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition:transform .5s;
}

.contact-us ul li a span:nth-child(3) {
  bottom:0;
  left:0;
  transform-origin: left;
}
.contact-us ul li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition:transform .5s;
}

.contact-us ul li a span:nth-child(2),
.contact-us ul li a span:nth-child(4){
  width:3px;
  height:100%;
  background:#404040;
}
.contact-us ul li a span:nth-child(2) {
  top:0;
  left:0;
  transform:scale(0);
  transform-origin: bottom;
}
.contact-us ul li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition:transform .5s;
}
.contact-us ul li a span:nth-child(4) {
  top:0;
  right:0;
  transform:scale(0);
  transform-origin: top;
}
.contact-us ul li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition:transform .5s;
}

.contact-us .facebook:hover {
  color: #3b5998;
}
.contact-us .facebook:hover span { 
  background: #3b5998;
}
.contact-us .phone:hover {
  color: #1baf09;
}
.contact-us .phone:hover span { 
  background: #1baf09;
}

.contact-us .instagram:hover {
  color: #e42d62;
}
.contact-us .instagram:hover span { 
  background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.contact-us ul li a .phone {
  color: #1baf09;
}
.contact-us ul li a:hover:nth-child(3) {
  color: #c32aa3;
}
.contact-us ul li a:hover:nth-child(4) {
  color: #dd4b39;
}

.css-1czxh0d-MuiImageListItem-root .MuiImageListItem-img{
  height: 100% !important;
  object-fit: contain !important;
  cursor: pointer;
  transition: all 0.4s;
}

.css-1czxh0d-MuiImageListItem-root .MuiImageListItem-img:hover{
  transform: scale(1.1);
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
  justify-content: space-betweens;
}
dialog::backdrop{
  background-color:#1a1a1a;
  opacity: 0.99;
}

.dialog-big-img {
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  overflow: hidden;
  padding: 0;
}

.dialog-big-img img {
  max-width: 100%;
  object-fit: contain;
  max-height: 100vh;
}
.css-n0z12e-MuiImageListItem-root .MuiImageListItem-img{
  object-fit: contain !important;
  cursor: pointer;
  transition: all 0.4s;
}
.css-n0z12e-MuiImageListItem-root .MuiImageListItem-img:hover{
  transform: scale(1.1);
}

.dialog-img-arrows{
  height: 36px;
  width: 36px;
  font-size:28px !important;
  cursor: pointer;
} 
.dialog-img-arrows:hover{
  color:rgb(43, 43, 43);
  background-color:rgba(234 ,234, 234 ,0.3);
}

.dialog-img-nbr{
  height: 36px;
  width: 36px;
  font-size: 24px;
  padding: 6px;
}
.dialog-img-nbr:hover{
  background-color: rgba(234 ,234, 234 ,0.3);
  border-radius: 50%;
  left: 0;
  cursor: pointer;
 }

.bottom-dialog-bar{
    justify-content: space-evenly;
    z-index: 2;
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 4px;
    background: linear-gradient(0deg,#000,transparent);
    color: #fff;
}

.spacer {
  flex-grow: 1!important;
}

.dialog-bar-cont{
  
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 40vw;
}