.change-my-color {
    fill: #228be4;
    width: 50px;
  }
  .moreVert{
    position: absolute;
    right: 10px;
    top: 19px;
    background-color:rgba(255, 255, 255, 0.35);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s;
    width: 30px;
    height: 30px;
    color: #2a2a2a;
    display: flex;
    justify-content: center;
  }
  .moreVert:hover{
    background-color:rgba(255, 255, 255, 0.6);
  }
  .moreVert:after{
    content: '\2807';
    font-size: 25px;
    display: flex;
    align-items: center;
    position: relative;
    left: 3px;
  }
  .css-dasnyc-MuiImageListItemBar-title{
    white-space: normal !important;
    word-wrap: break-word;
  }
  .css-16iisoq-MuiImageListItem-root .MuiImageListItem-img{
    height: 100% !important;
  }